<html>
<head>
<title>Loan Prediction Model</title>
</head>

<body>
<div class="loan">
<h1>Loan Predictior</h1>

<h6></h6>

<form action="/predict"method="post">
<p>For Gender field provide 0 for male and 1 for female</p>
<input type="text" name="Gender" placeholder="Gender" required="required" />
<p>For Married field provide 0 for married and 1 for single</p>
<input type="text" name="Married" placeholder="Married" required="required" />
<p>For Dependents field provide 0, 1, 2, 3+ any which is applys for you</p>
<input type="text" name="Dependents" placeholder="Dependents" required="required" />
<p>For Education field provide 0 for Graduate and 1 for Not Graduate</p>
<input type="text" name="Education" placeholder="Education" required="required" />
<p>For Education field provide 0 for Not Self Employed and 1 for Self Employed</p>
<input type="text" name="Self_Employed" placeholder="Self_Employed" required="required" />
<p> Provied Applicant's income</p>
<input type="text" name="ApplicantIncome" placeholder="ApplicantIncome" required="required" />
<p> Provied Coapplicant's income</p>
<input type="text" name="CoapplicantIncome" placeholder="CoapplicantIncome" required="required" />
<p> Provide how much loan you want to get approaved</p>
<input type="text" name="LoanAmount" placeholder="LoanAmount" required="required" />
<p> Provide loan amount term(in days)</p>
<input type="text" name="Loan_Amount_Term" placeholder="Loan_Amount_Term" required="required" />
<p>Provide credit history in 0 for bad history and 1 for good history</p>
<input type="text" name="Credit_History" placeholder="Credit_History" required="required" />
<p> For urban fill 1 and 0 for Semiurban</p>
<input type="text" name="Property_Area" placeholder="Property_Area" required="required" />
<br>
<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
</form>

   <br>
   <br>
   {{ prediction_text }}

 </div>

</body>
</html>